{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8" /> 
    <title>Booker - Log in</title>
    <style>
        .face{
            padding-left: 10%;
        }
        .logo{
          text-align: center;
        }
        
        #caja{
          background-color:#FF8C00;
          color:white;
          width: 60%;
          height:50%;
          text-align: center;
          margin-left:20%;
          padding-left: 20%;
          padding-right:20%;
        }
      #fondo{
        background-color: silver;
        width:100%;
        height: 100%;
      }

        
    </style>

</head>
<body>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="container register" >
  <div id="fondo">
    <div id="caja">
    <br/>
        <div class="logo">
        {% load static %}
          <img src="{% static 'bookerdouble.png' %}" style="width:150px;height:150px;"">&nbsp;&nbsp;</img>
        </div>

        <br/>
        <h5>Regístrate para conocer Booker</h5>
        <br/>
        <form method="post" action=".">
          {% csrf_token %} 
          {% bootstrap_form form %}
          
          <input type="submit" style="color:black; font-weight: bold;" value="{% trans 'Log in' %}" />
          <input type="hidden" name="next" value="{{ next }}" />

        </form>
        <br/>
        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></p>
        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
        

        <div id="footer">
            {% block footer %}
                <hr />
            {% endblock %}
        </div>
           
            {% load static %}
                    
                {% if user and not user.is_anonymous %} Welcome back {{ user.get_full_name }}. 
                    <a href="{% url 'user-logout' %}">Logout</a>
                    <br/>
                {% else %}
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static 'logo_facebook.png' %}" alt="My image"></img> </a>
                    <br/>
                {% endif %}
         <br/>
            

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    </div>

  
  </div>


</body>
{% endblock %}
