{% extends "home.html" %}


{% block content %}
<div class="container register">


{% load static %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<h2>Terror</h2>
{% for libros in libros_list %}
	{% for generos in libros.genero.all %}
	{% if generos.nombre == "Terror" %}
	
<h2>LIBROS</h2>


{% for libros in libros_list %}
	{% for generos in libros.genero.all %}
	{% if generos.nombre == "Terror" %}

		<div class="col-md-4 well">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <h3 class="panel-title">{{ libros.nombre }}</h3>
	            </div>
	                <div class="panel-body">

						
						<br/>
						<p style="text-align: center;">
	                    <a href="/visualizador/{{libros.id}}"><img src="{{libros.portada.url}}" height="324" width="250" ></a>
	                    </p>
	                    <br/>


	                    
	   						{{ generos }}
						
						<br/>
	                    <img src="{{libros.portada.url}}" height="324" width="250" ><br/>

	                    {{libros.sinopsis}}
	                    
	                    

	                </div>

	                <div class="panel-footer">


	                	{% load ratings %}

						{% ratings libros %}


	                	<a href="{{ libros.contenido.url }}">Descarga</a>

	                </div>
	        </div>
	    </div>


	
	{% endif %}
	{% endfor %}
{% endfor %}

</div>
{% endblock %}
